<div id="moz_player"></div>

<div id="moz_player_container">

    <div id="profile-player" class="btn-group">
      <button class="jp-play btn btn-danger">
        <i class="icon-play"></i> 
      </button>
      <button class="jp-pause btn btn-danger">
        <i class="icon-pause"></i> 
      </button>
      <button class="jp-stop btn btn-danger">
        <i class="icon-stop"></i> 
      </button>
      <button class="jp-mute btn btn-inverse">
        <i class="icon-volume-off"></i> 
      </button>
      <button class="jp-unmute btn btn-inverse">
        <i class="icon-volume-down"></i> 
      </button>
      <button class="jp-volume-max btn btn-inverse">
        <i class="icon-volume-up"></i> 
      </button>
      <button class="play-state btn btn-info">
         
      </button>
      <button class="track-name btn btn-info disabled">
         
      </button>
      <button class="btn disabled">
         at <span class="extra-play-info"></span> of <span class="jp-duration"></span>, which is <span class="jp-current-time"></span>
      </button>
    </div>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th width="50%">Song Title</th>
            <th width="20%">Vote</th>
            <th width="10%">Plays</th>
            <th width="20%">Comments</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" class="track track-default">Cro Magnon Man</a></td>
                <td>
                    <a href="#" class="btn btn-mini btn-success"><i class="icon-circle-arrow-up"></i></a>
                    <a href="#" class="btn btn-mini btn-danger"><i class="icon-circle-arrow-down"></i></a>
                </td>
                <td>2,325</td>
                <td><%= link_to "Add Comment (34)", root_path %></td>
            </tr>

        </tbody>
    </table>

</div>