<div class="row">
	<div class="span6 offset3">

		<ul class="breadcrumb">
		  <li>
		    <%= link_to_icon "dashboard", "Album Dashboard", albums_path %> <span class="divider">/</span>
		  </li>
		  <li class="active"><i class="icon-plus"></i> New Album</li>
		</ul>	

		<div class="well">
			<%= render :partial => 'form' %>
		</div>
	</div>
</div>