<div class="row">
	<div class="span4 offset2">
		<div class="well">
			<h2><i class='icon-heart'></i> Fans</h2>
			<p>The Earth is a very small stage in a vast cosmic arena. Think of the rivers of blood spilled by all those generals and emperors so that, in glory and triumph, they could become the momentary masters of a fraction of a dot. Think of the endless cruelties visited by the inhabitants of one corner of this pixel on the scarcely distinguishable inhabitants of some other corner, how frequent their misunderstandings, how eager they are to kill one another, how fervent their hatreds.</p>
			<hr>
			<p>
				<%= link_to "<i class='icon-heart'></i> Fan Sign Up".html_safe, new_fan_registration_path, :class => "btn btn-large btn-inverse" %>
			</p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h2><i class='icon-headphones'></i> Artists</h2>
			<p>The Earth is a very small stage in a vast cosmic arena. Think of the rivers of blood spilled by all those generals and emperors so that, in glory and triumph, they could become the momentary masters of a fraction of a dot. Think of the endless cruelties visited by the inhabitants of one corner of this pixel on the scarcely distinguishable inhabitants of some other corner, how frequent their misunderstandings, how eager they are to kill one another, how fervent their hatreds.</p>
			<hr>
			<p>
				<%= link_to "<i class='icon-headphones'></i> Artist Sign Up".html_safe, new_artist_registration_path, :class => "btn btn-large btn-info" %>
			</p>
		</div>
		<p><span class="label label-important">Heads up <i class="icon-hand-right"></i></span> Artist registrations are free during beta, signup now!</span></p>
	</div>
</div>