<div class="row">
	<div class="span6 offset3">

		<ul class="breadcrumb">
		  <li>
		    <%= link_to_icon "dashboard", "Gallery Dashboard", galleries_path %> <span class="divider">/</span>
		  </li>
		  <li class="active"><i class="icon-edit"></i> Editing Gallery: <strong><%= link_to @gallery.title, @gallery %></strong></li>
		</ul>	

		<div class="well">
			<%= render :partial => 'form' %>
		</div>
	</div>

	<div class="span3">
		<h6>Current Image</h6>
		<% if @gallery.cover.file? %>
			<p><%= image_tag @gallery.cover.url(:small) %></p>
		<% else %>
			<p>Please upload an gallery cover.</p>
		<% end %>
	</div>
</div>