<%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
<%= f.input :password_confirmation, :required => false %>
<hr>
<div class="form-actions">
	<%= f.button :submit, "Save Changes", :class => "btn btn-success" %>
</div>