<%= f.input :profile_image %>
<hr>
<% if current_artist.profile_image.file? %>

	<h6>Current Image</h6>
	<%= image_tag current_artist.profile_image.url(:small) %>

<% end %>
<hr>
<div class="form-actions">
	<%= f.button :submit, "Save Changes", :class => "btn btn-success" %>
</div>