<div class="row">
	<div class="span6 offset3">
		<ul class="thumbnails">
			<li class="span6">
				<%= link_to(image_tag(@image.file.url(:full)), '#', :class => "thumbnail") %>
			</li>
		</ul>
		<h2>Comments</h2>
		<div class="well">

		</div>
	</div>
</div>