<div class="container-fluid visible-desktop" id="footer-header"></div>
<div class="container-fluid" id="footer-container">
<div class="row-fluid">
  <footer>
      <div class="span4" id="footer-logo">
        <h1>Mozapolis</h1>
        <p>&copy; 2012 All Rights Reserved.</p>
        <p><i class="icon-twitter"></i> Built with Twitter Bootstrap! By <%= link_to "hellocodes" %></p>
      </div>

      <div class="span2">
        <h4>On The Web</h4>
        <ul>
          <li class="icon-facebook-sign"> <a href="#">Facebook</a></li>
          <li class="icon-twitter-sign"> <a href="#">Twitter</a></li>
          <li class="icon-github-sign"> <a href="#">Github</a></li>
          <li class="icon-lemon"> <a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="span2">
        <h4>Helpful Links</h4>
        <ul>
          <li class="icon-info-sign"> <a href="#">About</a></li>
          <li class="icon-asterisk"> <a href="#">Getting Started</a></li>
          <li class="icon-user"> <a href="#">Team</a></li>
          <li class="icon-question-sign"> <a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="span2">
        <h4>Browse</h4>
        <ul>
          <li class="icon-bar-chart"> <a href="#">Charts</a></li>
          <li class="icon-pushpin"> <a href="#">Featured</a></li>
          <li class="icon-star"> <a href="#">New Artists</a></li>
          <li class="icon-headphones"> <a href="#">New Songs</a></li>
        </ul>
      </div>

      <div class="span2">
        <h4>Browse</h4>
        <ul>
          <li class="icon-bar-chart"> <a href="#">Charts</a></li>
          <li class="icon-pushpin"> <a href="#">Featured</a></li>
          <li class="icon-star"> <a href="#">New Artists</a></li>
          <li class="icon-headphones"> <a href="#">New Songs</a></li>
        </ul>
      </div>

  </footer>
</div>
</div>